<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<nav>
        <input type="button" value="Assign Time Table" onclick="location.href='@Url.Action("Index1", "Home" )'"/>
        <input type="button" value="View Time Table" onclick="location.href='@Url.Action("View_tt", "Home" )'" />
        <!--<input type="button" value="Add Course Details"/>-->
        <!--<input type="button" value="Assign Subject to Staff" onclick="location.href='Url.Action("Add_faculty", "Home" )'" />-->
</nav>
</body>
</html>
